#gridContainer {
  border: 2px solid black;
  height: 560px;
  width: 560px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

#btnContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 5px;
}
